In [1]:
#Setup cell

import pandas as pd
titanic = pd.read_csv("../data/titanic.csv")

In [2]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
#Drop irrelevant Columns
titanic.drop(columns=['PassengerId','Name','Ticket','Cabin'], inplace= True)

In [4]:
titanic.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [5]:
#Fill NaN Values
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
titanic["Embarked"] = titanic["Embarked"].fillna(titanic["Embarked"].mode()[0])

In [6]:
#Encode Values
titanic["Sex"] = titanic["Sex"].map({"male": 0, "female": 1})
titanic = pd.get_dummies(titanic, columns=["Embarked"], drop_first=True)

In [7]:
#Feature Engineer 'FamilySize'
titanic['FamilySize'] = titanic['SibSp'] + titanic['Parch']

In [8]:
titanic = titanic.drop(columns=["SibSp", "Parch"])

In [9]:
#Save changes to csv
titanic.to_csv('../data/titanic_clean.csv',index=False)